@import "compass";

/********************************************************************
					Theme Color Palette
********************************************************************/

$purple1: #0d0431;
$purple2: #100541;
$purple3: #200f54;
$purple4: #1f1246;

$blue1: #3f74d9;

$green1: #66b768;

$pink1: #ea148c;

$white: #ffffff;

/********************************************************************
					Change this values to change the layout
********************************************************************/

$desktop-content-min-width: 660px;
$mobile-content-min-width: 340px;
$content-width: 60%;
$mobile-content-width: 90%;
$mobile-content-breaking-point: 768px; // Change this value to trigger the media queries for mobile view

