/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "theme_variables";

body, html {
    background-color: $purple1;
    min-height: 100%;
    height: 100%;
    font-size: 0.9em;
    
}

body, html, a {
    color: $white;
    font-family: 'Roboto',Verdana,Arial,Helvetica,sans-serif;
}

#container {
    background: $purple2;
    height: auto;
    width: 100%;

    header{
        width: 100%;
        background-color: $purple2;
        
        nav {
            padding: 10px 0px 10px 0px;
            height: auto;
            min-width: $desktop-content-min-width;
            width: $content-width;
            margin: 0 auto;

            ul {

                &.login-box {
                    display: flex;    
                    align-items: center; 
                }

                li{
                    display: inline;
    
                    a.login {
                        margin-left: 10px;
                    }
                }

            }
        }
    }

    .button {
        padding: 15px 20px 15px 20px;
        font-weight: bold;

        &.login {
            background-color: $blue1;
            padding: 8px 15px 8px 15px; 
        }

        &.promo {
            background-color: $green1;
        }
    }

    a {
        &.button {
            text-decoration: none;
        }
    }

    .align-left {
        float: left;
    }

    .align-right {
        float:right;
    }

    .float-clearer {
        clear: both;
    }

    // I left 0px instead of display:none for the posibility to perform a transion
    .term-and-conditions-box__terms-and-conditions--collapsed ~ div.term-and-conditions-box__terms-and-conditions__collapsable-item {
        height: 0px;
        overflow: hidden;
    }

    .term-and-conditions-box__terms-and-conditions--extended ~ div.term-and-conditions-box__terms-and-conditions__collapsable-item {
        height: auto;
        padding-top: 0px;
    }

    .banner-box {
        width: 100%;
        min-width: $desktop-content-min-width;
        background-image: url("../../images/slots-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
        position: relative; 
        overflow: hidden;

        &__promo-box {
            width: 500px;
            padding-bottom: 30px;
            text-align: center;
            position: relative;
            top: 100px;
            left: 50%;
                
            a {
                text-decoration: none;
                    p {
                        font-size: 2.5em;
                        font-weight: bold;
                    }
        
                    p:first-child {
                        color: $pink1;
                        font-size: 1.4em;
                        font-style: italic;
                        font-weight: normal;
                    }
                }
            }

        &__recognition-logos-box {
            display: none;    
        }
    }

    .steps-box {
        margin-top: 15px;
        width: 100%;
        
        > div {
            width: $content-width;
            background-color: $purple1;
            margin: 0 auto;
            min-width: $desktop-content-min-width;
           
            > div {
                width: 12.5%;
                float: left;
                text-align: center;
                
                    &.separator {
                    
                        hr{
                            position: relative;
                            top: 35px;
                            width: 60px;
                        }
                    }
                a {
                    text-decoration: none;
                }
                
               p {
                    font-size: 0.65em;
                    line-height: 1.3;
                }

                span {
                    font-size: 1.5em;
                    font-weight: bold;
                }
             }
        }
    }

    .jackpot-box {
        background-color: $purple2;
        margin-top: 15px;

        > div {
                background-color: $purple1;
                width: 504px;
                margin: 0 auto;

                p {
                    font-weight: bold;
                    font-size: 1.3em;
                    display: inline;
                }

                div:first-child span {
                    position: relative;
                    left: 202px;
                    z-index: 9999;
                }

                div:nth-child(3) {
                    overflow: hidden;
                }

                div.layout {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    float: left;
                    width: 168px;
                    height: 40px;
                    text-align: center;

                    &.jackpot-box__jackpot {
                        text-align: right;
                    }

                    div.jackpot {
                        zoom: 0.3;
                        -moz-transform: scale(1);
                        transform: scale(1);
                        margin: 0;
                        margin-top: 6px;
                        padding: 20px;
                        background-color: $purple4;
                        

                        ul:first-child{
                            margin-left: 40px;
                        }
                        div.inn {
                            background-color: $purple3;
                        }
                    }
                }
        }
    }

    .term-and-conditions-box {
        background-color: $purple2;
        padding-top: 15px;

        > div {
            width: $content-width;
            height: auto;
            margin: 0 auto;
            min-width: $desktop-content-min-width;
        }

        .term-and-conditions-box__payment-logos {
            padding-top: 15px;
            padding-bottom: 5px;

            ul li  {
                display: inline;

                img {
                    height: 20px;
                }
            }
        }

        .term-and-conditions-box__terms-and-conditions {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: $purple3;

            div ul {
                padding-left: 20px;
                padding-top: 10px; 
            }

            a {
                margin-left: 5px;
                text-decoration: none;

                span {
                    color: $pink1;
                }
            }
        }
    }

    footer {
        background-color: $purple1;
        padding-top: 20px;
        padding-bottom:20px;
        font-size: 0.8em;
        color: #707a8e;

        div {
            min-width: $desktop-content-min-width;
            width: $content-width;
            margin: 0 auto;

            &.disclaimer-box__disclaimer-text img {
                vertical-align: middle;
            }

            &.disclaimer-box__logos-footer {
                display: none;
            }
            
        }
    }
}


@media only screen and (max-width: 768px) {

    #container {
       
        header{
           
            nav {
                min-width: $mobile-content-min-width; 
                width: $mobile-content-width; 

                ul {
                    
                    &.brand-logo {
                        margin-left: 20px; 
                    }

                    &.login-box {
                        margin-right: 20px; 
                        padding-top: 4px; 

                        li {
                            
                            &.recognition {
                                display: none;  
                            }
                        }
                    }
                }
            }
        }
    
        .banner-box {
           min-width: $mobile-content-min-width;
            
            &__promo-box {
                width: $mobile-content-width; 
                margin-top: 100px; 
                position: static; 
                margin: 0 auto; 
                padding-top: 20px; 

                    a {
                        
                        &.promo {
                            display: none; 
                        }

                    }
            }

            &__recognition-logos-box {
                display: block;     
                position: absolute; 
                top: 88%; 
                right: 50%; 
                margin-right: -114px; 
            }
        }
    
        .steps-box {
           
            > div {
                width: $mobile-content-width; 
                min-width: $mobile-content-min-width;
                
                > div {
                    height: 90px; 
                    overflow: hidden; 
                    
                    &.step {
                        float: left; 
                        width: 50%; 
                        text-align: right; 

                            img {
                                margin-right: 10px;
                            }
                    }

                    &.text {
                        float: left; 
                        width: 50%; 
                        text-align: left; 
                        
                            span, p, br {
                                margin-left: 10px; 
                            }

                            span {
                                display: inline-block; 
                            }
                    }

                    &.separator {
                        clear: both; 
                        width: 100%; 
                        position: static; 
                        text-align: left; 
                        padding-bottom: 10px; 
                       
                            hr{
                                -webkit-transform: rotate(-90deg); 
                                transform: rotate(-90deg);
                                width: 90px; 
                                position: relative; 
                                right: 50px; 
                            }
                    }
    
                    p {
                        font-size: 0.7em; 
                    }
                }
            }
        }
    
        .jackpot-box {
            display: none;  
        }
    
        .term-and-conditions-box {
            width: 100%;
    
            > div {
                width: $mobile-content-width; 
                min-width: $mobile-content-min-width; 
            }
    
            .term-and-conditions-box__payment-logos {
                
                img.safe-fair {
                    display: none; 
                }
                
                ul {
                    width: 45%; 
                    margin-left: 2.5%; 
                    
                    li  {
                        width: 100%; 
                        display: block; 
                        padding-top: 10px; 
                        padding-bottom: 10px; 
                        text-align: center; 
                        margin-bottom: 5px; 
                        background-color: $purple1; 
                    }
                }
            }
    
            .term-and-conditions-box__terms-and-conditions {
                padding-top: 15px; 
                padding-bottom: 15px; 
                background-color: $purple3;
                margin-bottom: 15px; 
    
            }
        }
    
        footer {
            width: 100%; 
    
            div {

                 &.disclaimer-box__logos-footer {
                    display: block; 
                    text-align: center; 
                    padding-bottom: 15px; 

                    img {
                        width: 300px; 
                    }
                }
                min-width: $mobile-content-min-width;
                width: $mobile-content-width;
            }
        }
    }
    
  }



















